// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
	background: #448ccf;
	width: 90px;
	height: 20px;
	text-align: center;
	color: #ffffff;	
}
.social-btn:hover {
	background: #346cbf;
	color: #ffffff;
}